<div class="card">
    <div class="card-header">
        <!-- <div class="card-header-title">
            <h1 class="title">Update post</h1>
        </div> -->
        <div class="select">
            <select formControlName="postId" (change)="onPostIdChange($event)">
                <option [value]="null" disabled selected>Select a post</option>
                <option *ngFor="let post of posts | keyvalue" [value]="post.key">{{ post.value }}</option>
            </select>
        </div>
    </div>

    <form [formGroup]="miFormulario" (ngSubmit)="updatePost()">
        <div class="card-content">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter the title of the post" formControlName="title">
                </div>
                <div>
                    <p *ngIf="miFormulario?.get('title') !== null"></p>
                </div>
            </div>
            <div class="field">
                <label class="label">Body</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Enter all the content of your post"
                        formControlName="body"></textarea>
                </div>
                <div>
                    <p *ngIf="miFormulario?.get('title') !== null"></p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <div class="card-footer-item is-pulled-right">
                <button class="button is-warning" type="reset">Clear input</button>
                <span style="margin-right: 10px;"></span>
                <button class="button is-success" type="submit" [disabled]="miFormulario.invalid">Send Post</button>
            </div>
        </footer>
    </form>
</div>